<h1>My Tasks</h1>
<% @tasks.each do |task| %>
  <h3><%= link_to task.title, task_path(task.id) %></h3><%= link_to "Delete", task_path(task.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>
<p>-----------------------------------------------------------------</p>
<h3><%= link_to "Create a new task", new_path %></h3>
